.container {
    max-width: 55vw;
    margin: auto;
  }
  .center{
    text-align: center;
    margin: 50px;
  }

  @media only screen and (max-width: 600px) {
    .container {
      max-width: 80vw;
      margin: 45px auto;
    }
  }